<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="credito in ctrl.ciclo.creditos">
        <td>
          <input type="text" ng-model="credito.nome" class="form-control" placeholder="Informe o nome" ng-readonly="ctrl.tabDelete">
        </td>
        <td>
          <input type="number" ng-model="credito.valor"
          ng-change="ctrl.getResumo()" class="form-control" placeholder="Informe o valor" ng-readonly="ctrl.tabDelete">
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-disabled="ctrl.tabDelete" ng-click="ctrl.adicionarCredito($index)">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-disabled="ctrl.tabDelete" ng-click="ctrl.clonarCredito($index, credito)">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-disabled="ctrl.tabDelete" ng-click="ctrl.excluirCredito($index)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
