<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debito in ctrl.ciclo.debitos">
        <td>
          <input type="text" ng-model="debito.nome" class="form-control" placeholder="Informe o nome" ng-readonly="ctrl.tabDelete">
        </td>
        <td>
          <input type="number"
          ng-change="ctrl.getResumo()" ng-model="debito.valor" class="form-control" placeholder="Informe o valor" ng-readonly="ctrl.tabDelete">
        </td>
        <td>
          <input type="test" ng-model="debito.status" class="form-control" placeholder="Informe o status" ng-readonly="ctrl.tabDelete">
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-disabled="ctrl.tabDelete" ng-click="ctrl.adicionarDebito($index)">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-warning" ng-disabled="ctrl.tabDelete" ng-click="ctrl.clonarDebito($index, debito)">
            <i class="fa fa-clone"></i>
          </button>
          <button class="btn btn-danger" ng-disabled="ctrl.tabDelete" ng-click="ctrl.excluirDebito($index)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
