<div class="box-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ciclo in ctrl.ciclos">
                <td>{{ciclo.nome}}</td>
                <td>{{ciclo.mes}}</td>
                <td>{{ciclo.ano}}</td>
                <td class="table-actions">
                    <button class="btn btn-warning" ng-click="ctrl.mostrarTabUpdate(ciclo)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="ctrl.mostrarTabDelete(ciclo)"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
